@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-blue: #13183f;
  --grey: #83869a;
  --purple: #666ca3;
  --pink-dark: #f74f80;
  --pink-light: #ffa7c3;
  --white: #fff;
  --gradient-primary: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient-primary-hover: linear-gradient(
  		0deg,
  		rgba(255, 255, 255, 0.5),
  		rgba(255, 255, 255, 0.5)
  	),
  	linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient-accent: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  --gradient-accent-hover: linear-gradient(
  		0deg,
  		rgba(255, 255, 255, 0.5),
  		rgba(255, 255, 255, 0.5)
  	),
  	linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  --gradient-popular: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--grey);
  overflow-x: hidden;
}

.container {
  max-width: 375px;
  width: 100%;
  margin-inline: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .container {
    max-width: 689px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  position: relative;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    margin-bottom: 250px;
  }
}
@media (min-width: 768px) {
  .hero-column {
    max-width: 400px;
  }
}
@media (min-width: 1440px) {
  .hero-column {
    max-width: 457px;
  }
}
.hero-title {
  font-weight: 800;
  color: var(--dark-blue);
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}
@media (min-width: 1440px) {
  .hero-title {
    font-size: 3.5rem;
  }
}
.hero-paragraph {
  line-height: 1.625;
  margin: 1.25rem 0;
}
@media (min-width: 768px) {
  .hero-image {
    position: absolute;
    top: -65%;
    right: -55%;
  }
}
@media (min-width: 1440px) {
  .hero-image {
    top: -100%;
    right: -50%;
  }
}

.main {
  padding-top: 4rem;
}

.card {
  background-color: var(--white);
  padding: 1.75rem;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  position: relative;
  border-radius: 0.75rem;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}
@media (min-width: 768px) {
  .card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1440px) {
  .card {
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
  }
}
.card-label {
  position: absolute;
  top: 0;
  left: 1.75rem;
  transform: translateY(-50%);
}
.card-heading {
  font-weight: 800;
  font-size: 1.25rem;
  color: var(--dark-blue);
  line-height: 1.25;
}
@media (min-width: 1440px) {
  .card-heading {
    font-size: 1.5rem;
  }
}
.card-body {
  display: grid;
  align-content: space-between;
  justify-items: start;
}
.card-description {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.625;
}
@media (min-width: 1440px) {
  .card-description {
    font-size: 18px;
  }
}

.btn {
  cursor: pointer;
  border-radius: 1.75rem;
  border: none;
  outline: none;
  text-transform: capitalize;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.75;
  font-size: 1rem;
}
.btn-accent {
  background-color: var(--dark-blue);
  color: var(--white);
}
.btn-accent:hover {
  background-color: var(--purple);
}
.btn-text {
  color: var(--pink-dark);
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
}
.btn-text:hover {
  color: var(--pink-light);
}
.btn-gradient-primary {
  background-image: var(--gradient-primary);
  color: var(--white);
}
.btn-gradient-primary:hover {
  background-image: var(--gradient-primary-hover);
}
.btn-gradient-accent {
  background-image: var(--gradient-accent);
  color: var(--white);
}
.btn-gradient-accent:hover {
  background-image: var(--gradient-accent-hover);
}

.courses {
  background-image: var(--gradient-popular);
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .courses {
    padding-bottom: 5.375;
  }
}
@media (min-width: 1440px) {
  .courses {
    padding-bottom: 8.75rem;
  }
}
.courses-grid {
  display: grid;
  gap: 2.5rem;
  list-style: none;
}
@media (min-width: 768px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem 0.75rem;
  }
}
@media (min-width: 1440px) {
  .courses-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 2rem;
  }
}
.courses .card:first-child {
  background-image: var(--gradient-primary);
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 800;
  padding: 1.75rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .courses .card:first-child {
    padding: 2rem;
    padding-top: 3.5rem;
  }
}
@media (min-width: 1440px) {
  .courses .card:first-child {
    font-size: 2rem;
  }
}

.footer {
  background-color: var(--dark-blue);
  padding: 2.25rem 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skilled-logo {
  height: 35px;
}/*# sourceMappingURL=style.css.map */